/* styles.css */

/* Definición de colores */
:root {
    --black: #FF000000;
    --white: #FFFFFFFF;
    --principal: #222831;
    --fondo: #393E46;
    --texto: #EEEEEE;
    --pistas: #919191;
    --boton: #00ADB5;
}

/* Estilos de los componentes */
.button {
    -fx-background-color: var(--boton);
    -fx-text-fill: var(--white);
}

.label {
    -fx-text-fill: var(--texto);
}

/* Otros estilos */
.root {
    -fx-background-color: var(--fondo);
    -fx-text-fill: var(--texto);
}

